@import "../../../../styles.scss";

.navigator-container {
  
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
background: linear-gradient(to top, #01010100, #5a0000ce);
  height:10.5vh;
  width: 100%;

  .navigator-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 999px;

    &__item {
      padding: 10px;

      &--link {
        font-size: 0.85rem;
        text-shadow: 2px 2px 0 $primary-color, 2px -2px 0 $primary-color,
    -2px 2px 0 $primary-color, -2px -2px 0 $primary-color,
    2px 0px 0 $primary-color, 0px 2px 0 $primary-color,
    -2px 0px 0 $primary-color, 4px -2px 0 $primary-color,
    2px 2px 0px rgba(0, 0, 0, 0.424);
        color: $crawl;
        text-transform: uppercase;
        font-weight: bold;

        &:hover{
            color: goldenrod;
        }
      }
    }
  }
}
