@import "../../../styles.scss";

.home-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  img {
    padding: 20px;
    width: 55%;
    max-width: 500px;
    transition: 0.4s;
  }
  img:hover {
    margin: -14.35px;
    max-width: 550px;
    transition: 0.5s;
  }

  .paragraph {
    width: 100%;
    max-width: 900px;
    padding: 20px;
  }
  p {
    text-shadow: 1px 1px 0 $primary-color, 1px -2px 0 $primary-color,
      -1px 2px 0 $primary-color, -1px -1px 0 $primary-color,
      1px 0px 0 $primary-color, 0px 1px 0 $transparent,
      -1px 0px 0 $transparent, 1px -2px 0 $transparent,
      1px 2px 0px rgba(47, 11, 0, 0.15);
    line-height: 1.8;
    text-overflow: ellipsis;
    margin: 10px;
    font-weight: 400;
    font-size: 0.88rem;
    border-radius: 49%;
    background: radial-gradient(#75000050 30% , #002fff00,#00086400 );
    color: goldenrod;
    padding: 20px;
    text-align: center;
    word-break: keep-all;
    transition: 1s;
    cursor: pointer;
  }

  p:hover {
    background: radial-gradient(#9e002f71 35%, #00086400, #00086400);
    transition: 1s;
    color: #ffe260;
  }
}


